body{
	margin: 0;
	padding: 0;
	font-family: Arial;
	
}
/*----------------------------------------------------*/
/*			inicio		cabecera				*/
/*-----------------------------------------------------*/
header{
	position: absolute;
	height:45em;
	width: 100%;
	/*border: 1px solid;*/
	background: url(../img/nuevoComercio.jpg);
	background-size: cover;
	/*z-index: -45;*/
}
#particion{
	border-radius: 5px;
	position: fixed;
	padding: 35	px;
	width: 90%;
	height: 100px;
	left:80px;	
	/*border: 1px solid;*/
	transition: .3s;
	z-index: 20;
}
.inicio{
	top: 20px;
	background: rgba(20, 143, 119,0.3);
}
.sube{
	top: 0px;
	background: rgba(20, 143, 119,1);
}
.n{
	text-decoration: none;
	color: white;
}
.busqueda,header ul,.nombre{
	position: absolute;
	display: flex;
	top: 50%;
	transform: translateY(-50%);
}
.nombre{

	padding: 15px 40px;
	
	left: 20px;
	cursor: pointer;
	font-weight:bold;
}
.busqueda{
	
	left:	300px;
	width: 500px;
	height: 30px;
}	
#buscar{
	width: 90%;
	border-radius: 5px;
}
header ul{
	margin: 0;
	padding:0;
	list-style: none;
	left: 900px; 
}
header li a{
	text-decoration: none;
	border-radius: 6px;
	color: black;
	background: yellow;
	margin: 5px;
	padding: 10px;
	font-weight: bold;
}
.lupa{
	position: relative;
	margin: 2px;
	width:6%;
	height: 100%; 
	right: -5px;
	background: url(../img/lupa.png);	
	cursor: pointer;	
}
.botonInicio{
	position: absolute;
	bottom: 15%;
	padding: 15px 20px;
	font-size: 20px;
	font-weight: bold;
	left: 50%;
	transform: translateX(-50%);
	/*z-index: -30;*/
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	background: rgba(20, 143, 119,1);
	
}
.botonInicio:hover{
	padding: 25px 40px;
	font-size: 30px;
}

