.nombre{
	font-weight: bold;
	font-size: 24px;


}
.listaAcor{
	list-style: none;
}
.inicio{
	box-shadow: 2px 2px 5px #000;
	background: #ecf0f1;
}


.busqueda{
	width: 400px;
	height: 35px;
}
.botonBuscar{

	width: 80px;
	height: 45px;
}
.titulo{
    font-size: 24px;
}
.pie{
	background: #ecf0f1;

}
.anuncio{

    background: url("../img/anuncioFondo.jpg");
    width: 100%;
    height: 100%;
}
